{% load static %}

{% block title %}<title>Restaraunt Menu</title>{% endblock %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'menu.css' %}">

<script type="text/javascript" src="{% static 'menu.js' %}"></script

<link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon-48.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16.png' %}">
