<article class="dish">
  <div class="dish__image">
    <img src="https://baconmockup.com/640/360">
  </div>
  <div class="dish__content">
    <div class="">
      <h2 class="dish__name">Mixed omlette</h2>
      <div class="dish__price">$11.5</div>
    </div>
    <div class="dish__allergens">
      Allergens:
      <ul>
        <li>peanuts</li>
        <li>something</li>
      </ul>
    </div>
  </div>
  <div class="dish__controls">
    <div class="">
      <input type="hidden" name="id">
      <input class="dish__qty" type="number" min="1" value="1">
      <input class="dish__add" type="submit" value="Add">
    </div>
  </div>
</article>
