{% load humanize %}
{% load utils %}

<article class="dish {% if dish.pk in cart.item_pks %}added{% endif %}" data-id="{{dish.pk}}">
  <div class="dish__image">
    <img src="{{ dish.image.url }}">
  </div>
  <div class="dish__content">
    <div class="">
      <h2 class="dish__name">{{dish.name}}</h2>
      <div class="dish__price">{{dish.price|intcomma}}</div>
    </div>
    {% if dish.allergens.all %}
      <div class="dish__allergens">
        Allergens:
        <ul>
          {% for allergen in dish.allergens.all %}
            <li>{{allergen}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="dish__controls">
    <div class="">
      Quantity: <div class="dish__qty">{{cart.items|dict_value:dish.pk}}</div>
      <input class="dish__add" type="submit" value="Add">
      <input class="dish__remove" type="submit" value="Remove">
    </div>
  </div>
</article>
