{% extends "layout.html" %}
{% block content %}

{% for category in categories %}
  <div class="menu__category">
    <h1>{{category.name}}</h1>
    <div class="menu__dishes">
      {% for dish in category.dishes.all %}
        {% include "dishes/_item.html" %}
      {% endfor %}
    </div>
  </div>
{% endfor %}

<div class="order_form">
  <h1>Place your order</h1>

  <form action="{% url 'root' %}" method="post">
    {% csrf_token %}
    {{ order_form.as_ul }}
    <input type="submit" value="Place!">
  </form>
</div>

{% endblock %}
